#Header {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  z-index: 1;
  & nav {
    position: fixed;
    background-color: #0c111cc0;
    backdrop-filter: blur(7px);
    width: 100%;
    & ul {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100px;
      list-style: none;
      gap: 100px;
      font-family: "Roboto", sans-serif;
      animation: fadeInLeft 1s ease-in-out;
    }
  }
}
a {
  text-decoration: none;
  color: white;
}
#AboutMe {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
  height: 40rem;
  & h1 {
    width: 40rem;
    text-align: center;
    font-size: 3.5rem;
    display: flex;
    word-break: keep-all;

    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    animation: leBlurInRight 1s ease-in-out;
  }
  & p {
    width: 40rem;
    text-align: center;
    font-size: 1.5rem;
    font-family: "Edu QLD Hand", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    animation: leRotateXZoomIn 1.5s ease-in-out;
  }
  & picture {
    width: 20rem;
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 4px solid rgb(38, 0, 255);
    box-shadow: 0px 0px 98px 5px rgb(38, 0, 255);
    -webkit-box-shadow: 0px 0px 98px 5px rgb(38, 0, 255);
    -moz-box-shadow: 0px 0px 98px 5px rgb(38, 0, 255);
    animation-name: leKickOutBehind;
    transform-origin: top;
    animation-duration: 4s;
  }
}
#skills {
  height: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 5rem;
  gap: 1rem;

  & .SkillsTools {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    gap: 70px;
    & .ProgrammingLanguages {
      background-color: black;
      width: 400px;
      height: 250px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin: 10px;
      border: 2px solid transparent;
      border-radius: 12px;
      padding: 16px;
      background: linear-gradient(#0c111c, #0c111c) padding-box,
        linear-gradient(90deg, #1d0052, #cc00ff) border-box;
      margin-top: 3rem;
      & p {
        position: relative;
        top: -15px;
        font-size: 1.4rem;
      }
      & .LanguagesContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-wrap: wrap;
        width: 80%;
        height: 70%;
        & .Languages {
          display: flex;
          flex-basis: 200;
          flex-grow: 1;
          align-items: center;
          justify-content: center;
          gap: 10px;
          width: 100px;
        }
      }
    }
  }
}
#Project {
  min-height: 50rem;
  max-height: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 5rem;
  gap: 2rem;
  & .ProjectsContainer {
    height: 85%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;

    & .ProjectsCard {
      background-color: #0c111c;
      width: 350px;
      height: 450px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      font-size: 1.2rem;
      padding: 20px;
      border-radius: 12px;
      border: 1px solid rgb(20, 59, 167);
      flex-basis: 200;

      & picture {
        width: 300px;
        height: 150px;
        border-radius: 5%;
        display: flex;
        justify-content: center;
        align-items: center;
        & img {
          width: 300px;
          height: 150px;
          border-radius: 5%;
        }
      }
      & button {
        width: 150px;
        height: 50px;
        border-radius: 20px;
        border: 1px solid rgb(0, 66, 247);
        color: white;
        background: #020024;
        background: linear-gradient(
          90deg,
          rgba(2, 0, 36, 1) 0%,
          rgba(9, 9, 121, 1) 33%,
          rgba(20, 60, 255, 1) 82%,
          rgba(0, 212, 255, 1) 100%
        );
        transition: all 0.3s ease-in-out;
      }
      & button:hover {
        cursor: pointer;
        scale: 1.1;
        box-shadow: 0px 0px 28px 1px rgb(38, 0, 255);
      }
    }
  }
}

#Education {
  height: 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 5rem;
  & .TitleEducation {
    position: relative;
    top: -10rem;
    left: -25rem;
    font-size: 2rem;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    width: 290px;
  }
  & .EduicationContainer {
    background-color: #ffffff;
    width: 60rem;
    height: 0.8rem;
    border-radius: 12px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;

    & .EduicationCard {
      height: 500px;
      width: 20rem;
      margin-top: -6rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;
      & p {
        font-size: 1.5rem;
        flex-wrap: wrap;
        text-align: center;
      }
    }
    & button {
      border-radius: 50%;
      width: 40px;
      height: 40px;
      border: none;
      color: white;
      background: #020024;
      background: linear-gradient(
        90deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(9, 9, 121, 1) 33%,
        rgba(20, 60, 255, 1) 82%,
        rgba(0, 212, 255, 1) 100%
      );
    }
  }
}

#Contact {
  margin-top: 10rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px;
  & .ContactContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    gap: 0.4rem;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    width: 690px;
    & .ContactIcons {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      margin-top: 1rem;
    }
  }
}

.Title {
  position: relative;
  left: 8rem;
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  width: 290px;
}
/* Resonsive */
@media screen and (max-width: 1110px) {
  #AboutMe {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 10rem;
    & picture {
    }
  }
}

/* animatation */

@keyframes leBlurInRight {
  from {
    transform: scaleX(0.2) translateX(100px);
    filter: blur(20px);
    opacity: 0;
  }
}

@keyframes leRotateXZoomIn {
  from {
    transform: perspective(600px) translate3d(0, -60px, -2000px) rotateX(75deg);
    opacity: 0;
  }
  5% {
    transform: perspective(600px) translate3d(0, -60px, -1500px) rotateX(75deg);
  }
}

@keyframes leKickOutBehind {
  40% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(0deg);
    animation-timing-function: cubic-bezier(0, 0.9, 0.7, 1.45);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
  }
}
